* {margin:0; padding:0; font-family: 'Lato';}
li {list-style: none;}
a {text-decoration: none;}

/* nav */
#nav {
    position: fixed;
    left: 0;
    top: -61px;
    width: 100%;
    background-color: rgba(255,255,255,.3);
    transition: all .3s;
}
#nav.on {
    position: fixed; 
    top: 0;
}
#nav h1 {
    float:left;
    color:#fff;
    font-size:40px;
    padding:5px 5px 5px 15px;
    font-family: "Abel";
}
#nav ul {
    float:right;
    padding-right: 10px;
}
#nav ul li {
    display: inline;
}
#nav ul li a {
    display: inline-block;
    padding: 20px 15px;
    color: #fff;
    font-weight: 800;
    font-family: "Abel";
    text-transform: capitalize;
}
#nav ul li.active a{
    color:#000;
}

#nav .mNav{
    display:none;
    position: absolute;
    top:7px;
    right:10px;
    width:65px;
    height:45px;
    cursor:pointer;
}

/*menu icon*/
.icon-wrap {
    padding-left:10px;
}
.icon-wrap .icon, .icon-wrap .icon:before, .icon-wrap .icon:after {
    width:45px;
    height:4px;
    background: #fff;
}
.icon-wrap .icon {
    position: relative;
    margin-top:20px;
}
.icon-wrap .icon:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;

}
.icon-wrap .icon:after {
    content: "";
    position: absolute;
    left:0;
    top:10px;
}

/* dot */
#dot {
    position: fixed; 
    right: 20px; 
    top:50%; 
    transform: translatey(-50%);}
#dot li {
    position: relative;
    width: 20px; 
    height: 20px; 
    border-radius:50%; 
    box-shadow: 0 0 0 2px rgba(255,255,255,0);
    margin: 8px;
    transition: box-shadow 0.3s ease;
}
#dot li a { 
    background-color: rgba(255,255,255,0.7);
    width: 100%; 
    height: 100%;
    position: absolute; 
    top:0; 
    left: 0;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#dot li.active {
    box-shadow: 0 0 0 2px rgba(255,255,255,1);
}
#dot li.active a {
    transform: scale(0.4);
}
#dot li a em {
    display: none;
}   

/* contents */
#contents {
    text-align: center; 
    color: #fff;
}
#contents > div {
    height: 100vh; 
    line-height: 100vh;
}
#contents > div h2 {
    font-size: 70px; 
    font-weight: 200; 
    text-transform: uppercase;
}
#contents > div h2 strong {
    font-weight: 700; 
    font-style: italic;
}

/* section */
#section1 {
    background:radial-gradient(ellipse farthest-corner at center top, #A3A1FF, #3A3897);
}
#section2 {
    background:radial-gradient(ellipse farthest-corner at center bottom, #3AA17E, #00537E);
}
#section3 {
    background:radial-gradient(ellipse farthest-corner at center top, #29ABE2, #4F00BC);
}
#section4 {
    background:radial-gradient(ellipse farthest-corner at center top, #FF5300, #45145A);
}
#section5 {
    background:radial-gradient(ellipse farthest-corner at center bottom, #852D91, #312A6C);
}
#section6 {
    background:radial-gradient(ellipse farthest-corner at center top, #FBB03B, #D4145A);
}

/*text animation*/
#contents > div h2 {
    transition: all .6s ease-in-out;
}
#section1 h2 {
    opacity: 0;
}
#section2 h2 {
    opacity: 0;
}
#section3 h2 {
    opacity: 0;
}
#section4 h2 {
    opacity: 0;
}
#section5 h2 {
    opacity: 0;
}
#section6 h2 {
    opacity: 0;
}
#contents > div.show h2{
    transform: none;
}
#section1.show h2{
    opacity: 1;
    animation: bounceInRight 1s;
}
#section2.show h2{
    opacity: 1;
    animation: rubberBand 1s;
}
#section3.show h2{
    opacity: 1;
    animation: zoomInUp 1s;
}
#section4.show h2{
    opacity: 1;
    animation: flipInx 1s;
}
#section5.show h2{
    opacity: 1;
    animation: jello 1s;
}
#section6.show h2{
    opacity: 1;
    animation: rollin 1s;
}

@media (max-width: 800px){
    #nav .menu {
        display: none;
    }
    #nav .mNav {
        display: block;
    }
    #nav nav {
        width: 100%;
    }
    #nav .menu {
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #nav .menu li {
        width: 100%;
        display: inline-block;
    }
    #nav .menu li.active {
        background-color: rgba(255,255,255,.3);
    }
    #contents > div h2{
        font-size: 6vw;
        font-weight: 300;
    }
}